%h1 dashboard

%table
  %tr
    %th Name
    %th State
    %th IP
    %th Heartbeat
    %th 
  - @devices.each do |device|
    %tr
      %td= device.name 
      %td= device.state 
      %td= device.ip_address || "0.0.0.0"
      %td= device.pinged_at || "-"
      %td
        = form_for device do |f|
          = f.label :state, class: 'switch' do
            = f.check_box :state, {}, "on", "off"
            .slider

